::ng-deep .ql-container {
  font-family: inherit;
  font-size: 1rem;
}

::ng-deep quill-editor {
  display: block;
  width: 100%;
}

::ng-deep .ql-toolbar {
  border-top-left-radius: 0.375rem; /* rounded-md */
  border-top-right-radius: 0.375rem;
  background-color: #f9fafb; /* bg-gray-50 */
}

::ng-deep .ql-container.ql-snow {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}