h1.banner {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

::ng-deep .ql-editor {
    word-break: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal !important;
}

::ng-deep .ql-editor * {
    word-break: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal !important;
}

/* Centraliza o Toastr na tela (horizontal e verticalmente) */
::ng-deep .toast-top-center,
::ng-deep .toast-center-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    position: fixed !important;
    z-index: 9999 !important;
}
::ng-deep .toast-container {
    width: 60vw !important;
    pointer-events: none;
}
::ng-deep .toast {
    pointer-events: all;
}